:root {
  --light-gray: #d4d4d2;
  --eerie-black: #1c1c1c;
  --dark-liver: #505050;
  --vivid-gamboge: #ff9500;
  --white: #eee;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  min-height: 100vh;
  background-color: var(--eerie-black);
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: repeat(4, 64px);
  grid-template-rows: minmax(64px, auto) repeat(5, 64px);
  gap: 12px;
}

.container > button {
  font-size: 1.5rem;
  border: none;
  border-radius: 32px;
  cursor: pointer;
}

.container > button:hover {
  opacity: 80%;
}

.option {
  background-color: var(--light-gray);
  color: var(--eerie-black);
}

.number {
  background-color: var(--dark-liver);
  color: var(--white);
}

.operator {
  background-color: var(--vivid-gamboge);
  color: var(--white);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  word-wrap: break-word;
  word-break: break-all;
}

.draft {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.current-number {
  color: var(--white);
  font-size: 2rem;
}

.selected {
  background-color: var(--white);
  color: var(--vivid-gamboge);
}
